<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nomeSite %></title>
</head>
<body>

    <header class="navegacao__menu">
        <div class="container">

            <ul>
                <li><a href="<%= includePathSite %>">Home</a></li>
                <li><a href="<%= includePathSite %>">Sobre</a></li>
                <li><a href="<%= includePathSite %>login">Logar</a></li>
                <li><a href="<%= includePathSite %>cadastrar">Cadastrar</a></li>
            </ul>

        </div><!--container-->
    </header><!--navegacao__menu-->


    


    <ul>
        <% informacao.forEach(function(user){ %>
            <li><%= user.nome %></li>
            <li><%= user.email %></li>
            <li><%= user.senha %></li>
            <hr>
            <% }) %>
    </ul>

</body>
</html>